{% extends 'app/main.html' %} {% block content %}

<style>
    
input{
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}
</style>
<div class="container">
<h1 class="mb-4">New Project</h1>
<div class="btn-actions-pane-right actions-icon-btn">
    <a href="{% url 'app:home'%}" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-warning" style="float:right; font-weight:700"> < Back</a>
</div>
<form action="" method="POST" >
    {% csrf_token %}
    
   <div class="mb-4"> {{form.title}}</div>
    
   
    <button type="submit" class="btn btn-danger" style="color:white; font-weight:700;">Save</button>
</form>
</div>






{% endblock %}